# Kimeneti és ideiglenes fájlok
data/
logs/
*.log
*.tmp
*.bak

# Konfigurációs fájlok


# Python fájlok és virtuális környezetek
__pycache__/
*.pyc
*.pyo
venv/
.env

# Windows-specifikus fájlok
Thumbs.db
Desktop.ini